# База данных
DATABASE_URL="postgresql://ИМЯ_ПОЛЬЗОВАТЕЛЯ:ПАРОЛЬ@localhost:5432/hotelpg?schema=public"

# Сервер
PORT=3000

# Авторизация персонала
JWT_SECRET="тут_будет_длинный_секретный_ключ"
TOKEN_EXPIRE="15m"
REFRESH_EXPIRE="7d"